#mapstore-infochartdate1 {
    margin:10px;
}

#ms-infocharttodate-action1 {
    float:left;
    width:30%;
    overflow:hidden;
}

#ms-infochartfromdate-action1 {
    float:left;
    width:30%;
    overflow:hidden;
}

.labels-infochart {
    color: black;
    background-color: white;
    display: block; /* Assicura che il label sia un blocco allineato */
    text-align: left; /* Allinea il testo a sinistra */
    padding: 15px 0px 5px;
    font-size: 14px; /* Assicurati che la dimensione del testo sia corretta */
    font-weight: normal; /* Imposta il peso del font a normale */
    font-weight: bold;
}

/* Contenitore del ButtonGroup */
.button-group-wrapper {
    position: relative; /* Definisce il posizionamento relativo per il genitore */
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
    margin-bottom: -10px;
}

/* Spostamento dei pulsanti */
.rangepicker-button {
    margin: 20px 10px 0px 0px;
}
