.ms-dailydatepicker-container {
    flex-direction: column;
    align-items: center;
}
.ms-dailydatepicker-calendar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row; /* Cambia in row per layout orizzontale */
    align-items: center;
    justify-content: space-between;
    left: 4px;
    top: 4px;
    width: 280px;
    border-radius: 4px;
    margin: 0;
    border: none;
    z-index: 10;
  }
#button-dailydatepicker-button {
    display: flex;
    justify-content: center; /* Arrange buttons horizontally */
    align-items: center;
    border-radius: 3px;
    gap: 40px;
    margin-top: 5px;
}

  @media (max-width: 768px) {
    .ms-dailydatepicker {
      flex-direction: column; /* Cambia layout a colonna su schermi stretti */
      align-items: center;
      gap: 12px; /* Spaziatura maggiore tra gli elementi */
    }

    .ms-dailydatepicker Button {
      width: 100%; /* Pulsanti larghi su schermi stretti */
      max-width: 200px; /* Evita che diventino troppo grandi */
    }

    .ms-dailydatepicker .react-datepicker-wrapper {
      width: 100%;
    }
  }
