.ms-dailydatepicker-container {
    flex-direction: column;
    align-items: center;
}
.ms-dailydatepicker-calendar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row; /* Cambia in row per layout orizzontale */
    align-items: center;
    justify-content: space-between;
    left: 4px;
    top: 4px;
    width: 280px;
    border-radius: 4px;
    margin: 0;
    border: none;
    z-index: 10;
  }
#button-dailydatepicker-button {
    display: flex;
    justify-content: center; /* Arrange buttons horizontally */
    align-items: center;
    border-radius: 3px;
    gap: 40px;
    margin-top: 5px;
}

@media (max-width: 1210px) {
    .ms-dailydatepicker-container,
    .ms-dailydatepicker-calendar  {
        width: 270px;
    }
}

