.ms-fixedrangemanager-action  {
  background-color: #FFFFFF;
  /* overflow: hidden; */
  display: flex;
  left: 4px;
  /* height: 200px; */
  flex-direction: column;
  margin: 0;
  border: none;
  z-index: 10;
  top: 4px;
}

@media (max-width: 1310px) {
    .ms-fixedrangemanager-action  {
        background-color: #FFFFFF;
        /* overflow: hidden; */
        display: flex;
        left: 4px;
        /* height: 200px; */
        flex-direction: column;
        margin: 0;
        border: none;
        z-index: 10;
        top: 4px;
      }
}
