#mapstore-infochartdate1 {
    margin: 10px;
    display: flex; /* Per allineare facilmente i figli */
    justify-content: space-between;
}

.ms-infochart-action {
    flex: 0 0 30%; /* Dimensione flessibile con larghezza fissa al 30% */
    overflow: hidden;
}

.labels-infochart {
    color: black;
    background-color: white;
    display: block; /* Allineamento corretto */
    text-align: left; /* Testo allineato a sinistra */
    padding: 8px 0px 5px; /* Margini ottimizzati */
    font-size: 14px;
    font-weight: bold;
}

.button-group-wrapper {
    display: flex;
    justify-content: space-between; /* Distribuisce lo spazio tra gli elementi figli */
    align-items: center; /* Allinea verticalmente al centro (opzionale) */
    width: 100%; /* Assicurati che il div abbia una larghezza */
}

.rangepicker-button-container { /* Questo ora stila il ButtonGroup */
    margin-left: auto; /* Spinge questo contenitore a destra */
    display: flex; /* Potrebbe non essere necessario per ButtonGroup */
    gap: 10px; /* Spazio tra i bottoni */
}

.infochart-panel {
    padding: 0 !important;
}

.infochart-dropdown-container-tabbar {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.infochart-dropdown-container-tabbar-item {
    padding: 10px 20px;
    transition: color 0.3s, border-bottom 0.3s;
}

.chart-type-tabbar {
    display: flex;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    pointer-events: none;
    margin-bottom: 10px;
    top: 20px
}

.chart-type-tabbar-item {
    padding: 10px 20px;
    transition: color 0.3s, border-bottom 0.3s;
    pointer-events: auto;
}

.infochart-fixedrangemanager-action,
.infochart-freerangemanager-action  {
  background-color: #FFFFFF;
  /* overflow: hidden; */
  display: flex;
  left: 4px;
  margin: 0;
  border: none;
  top: 4px;
  position: relative;
  gap: 10px;
}

.infochart-fixedrangepicker,
.infochart-freerangepicker {
    border-radius: 0%;
    padding: 10px;
    font-size: 14px;
    flex: 1;
    position: relative;
}

#infochart-fixedrangemanager-action-dropdownlist{
    width: 150px;
  }

