#mapstore-infochartdate1 {
    margin: 10px;
    display: flex; /* Per allineare facilmente i figli */
    justify-content: space-between;
}

.ms-infochart-action {
    flex: 0 0 30%; /* Dimensione flessibile con larghezza fissa al 30% */
    overflow: hidden;
}

.labels-infochart {
    color: black;
    background-color: white;
    display: block; /* Allineamento corretto */
    text-align: left; /* Testo allineato a sinistra */
    padding: 8px 0px 5px; /* Margini ottimizzati */
    font-size: 14px;
    font-weight: bold;
}

.button-group-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Distanza tra i pulsanti invece di margini negativi */
    margin-top: -10px;
    margin-bottom: -15px
}

.rangepicker-button {
    margin-top: 20px; /* Sposta i pulsanti verso il basso */
    padding: 5px 10px; /* Migliora la dimensione cliccabile */
}

.infochart-panel {
    padding: 0 !important;
}

.infochart-dropdown-container-tabbar {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.infochart-dropdown-container-tabbar-item {
    padding: 10px 20px;
    transition: color 0.3s, border-bottom 0.3s;
}

.chart-type-tabbar {
    display: flex;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    top: -60px;
    margin-bottom: -40px;
    pointer-events: none;
}

.chart-type-tabbar-item {
    padding: 10px 20px;
    transition: color 0.3s, border-bottom 0.3s;
    pointer-events: auto;
}

.infochart-fixedrangemanager-action,
.infochart-freerangemanager-action  {
  background-color: #FFFFFF;
  /* overflow: hidden; */
  display: flex;
  left: 4px;
  margin: 0;
  border: none;
  top: 4px;
  position: relative;
  gap: 10px;
}

.infochart-fixedrangepicker,
.infochart-freerangepicker {
    border-radius: 0%;
    padding: 10px;
    font-size: 14px;
    flex: 1;
    position: relative;
}

#infochart-fixedrangemanager-action-dropdownlist{
    width: 150px;
  }
